body{
	background-color: black;
}
.container{
	margin:10% auto;
}

.heading{
	text-align: center;
	font-size: 20px;
	font-family: inherit;
	color: white;
}
.col-10 col-md-4{
	border: 1px dashed black;
}
button.btn.btn-primary{
	display: block;
	margin: auto;
}
button.btn.btn-link{
	display: block;
	margin: auto;
	color: black;
}
.signupbtn{
	text-align: center;
	margin: 5% auto;
	font-size: 15px;
	color: white;
}
label{
	color: white;
}
